<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

    <!--配置输出的位置和格式-->
    <appenders>




       <!-- 在控制台输出-->
        <!-- <Console name="Console" target="SYSTEM_OUT">
            &lt;!&ndash;配置的输出格式&ndash;&gt;
            <PatternLayout pattern="%d{HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>

            &lt;!&ndash;控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）&ndash;&gt;
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>-->


        <!--在控制台输出-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--配置的输出格式-->
            <PatternLayout pattern="%-5level %C %L %t %M - %msg%xEx%n"/>

            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" />
        </Console>



        <!--输出位置和规则，规则是：接着上次的继续输出-->
        <RollingFile name="All_Log" fileName="logs/All_Log.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z}  [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>

        <!--输出位置和规则，规则是：每次都覆盖上一个-->
        <File name="debug_temp" fileName="debug_log/debug_temp.log" append="false">
            <PatternLayout pattern="%d{dd HH:mm:ss} %-5level %C %L %t %M - %msg%xEx%n"/>

            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>


 <!--    备份资料，修改了上面的内容
        <File name="debug_log" fileName="debug_log/debug.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>

            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>-->


        <File name="debug_error_log" fileName="debug_log/debug_error_log.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}  %-5level %class{36} %L %t %M - %msg%xEx%n"/>

            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

    </appenders>

    <loggers>
        <!--全局的log设置-->
        <asyncRoot level="debug" includeLocation="true">
            <!--配置位置-->
            <!--<appender-ref ref="All_Log"/>-->
            <!--配置位置-->
            <appender-ref ref="Console"/>
            <!--配置位置-->
            <appender-ref ref="debug_temp"/>
            <appender-ref ref="debug_error_log"/>
        </asyncRoot>
    </loggers>


</configuration>